* {
	font-family: sans-serif;
}

body {
	background: #eee;
}

/***************************************** Navigation Page *******************************************/

#carousel_img {
	object-fit: cover;
}

#searchbtn {
	background: #ff6a06;
	border: 0;
}

#searchbtn:hover {
    opacity: 0.9;
}

/***************************************** Home Page **************************************************/

/*Categories button section*/
#nav-tabs li a{
	border: 1px solid #343a40; 
    color: #343a40;
    margin: 5px;
}

#nav-tabs li a:hover{
    background: #343a40;
    color: #fff;
}

#nav-tabs li a.active{
    background: #343a40;
    color: #fff;
}



/* Products Section */
#prod_container:hover {
	box-shadow: 2px 2px 10px 5px #bbb;
}

#prod_img {
	height: 300px;
	width: auto;
	object-fit: cover;
}

#prod_container p {
	font-size: 14px;
}

#prod_price {
	color: #ff6a06;
	font-size: 18px;
}

.footer {
	background: #fff;
}

#footer_title {
	font-size: 15px;
	font-weight: bold;
	color: #373737;
}

#footer_text, #footer_link {
	font-size: 13px;
	text-decoration: none;
	color: #707070;
}

#footer_link:hover {
	color: #ff6a06;
}

#footer_icon {
	width: 23px;
	height: 23px;
	opacity: 0.8;
}

#footer_icon:hover {
	opacity: 1;
}

#footer2 {
	background: #eee;
}

#copyright_text {
	color: #707070;
	font-size: 13px;
}

.mycolumn {
  display: none;
}

.show {
	display: block;
}

.carousel-control {
	font-size: 40px;
    margin: 0 5px;
    cursor: pointer;
    color: #555;
     width: 30px;
    height: 30px;
    display: inline-block;
    line-height: 19px;
    text-align: center;
    border-radius: 3px;
}

.carousel-control:hover {
	background: #222;
    color: white;
}

/*For product carousel*/
.owl-prev {
	left: -30px;
}

.owl-next {
	right: -30px;
}

.owl-prev, .owl-next {
	position: absolute;
	top: 30%;
}

.owl-prev span, .owl-next span {
	font-size: 60px;
	color: #787878;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
	background: transparent;
}


/***************************************** Contact Us Page **************************************************/
#sendBtn {
	background: #ff6a06;
	border: 0;
}

#sendBtn:hover {
	opacity: 0.8;
}

#contact_title {
	font-size: 20px;
	color: #ff6a06;
}

.map-container{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}

.map-container iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}


/***************************************** Login And Sign Up Section *******************************************/
#signupBtn, #loginBtn {
	background: #ff6a06;
	color: #fff;
}

#signupBtn:hover, #loginBtn:hover {
	opacity: 0.8;
}
