#nav-tabs li a{
    color: #FF6A06;
    margin: auto 10px;
}

#nav-tabs li a:hover{
    background: #fff;
    border-radius: 10px;
}

#nav-tabs li a.active{
    background: #343A40;
    color: #fff;
    border-radius: 10px;
}